@page "/"

<h2 class="bg-light border p-2">
First Room
</h2>
Room: @Room.RoomName
<br/>
Price: @Room.Price

@code{
Model.BlazorRoom Room=new(){
    Id=1,
    RoomName="Villa Suite",
    IsActive=true,
    Price=499
};

}